@import '../../assets/styles/helpers/functions';

.project-list {
  column-width: rem(320px);
  column-gap: rem(15px);

  @media screen and (max-width: 650px) {
    & {
      column-gap: 0;
    }
  }

  .project-list-item {
    display: inline-block;
    column-break-inside: avoid;
    -webkit-column-break-inside: avoid;

    width: 100%;
    //padding: rem(10px);
  }

  .card-image {
    height: rem(240px) !important;
    .LazyLoad {
      height: 100%;
      overflow: hidden;
      position: relative;

      img {
        display: block;
        top: 50%;
        margin-top: -50%;
      }
    }
  }
}
