@import '../../assets/styles/helpers/functions';

.project-list {
  .card-image {
    height: rem(240px);

    .LazyLoad {
      height: 100%;
      overflow-y: hidden;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
      }
    }
  }
}
